@import colors
@import lines

body
  :font 14px Arial, Sans
  :margin 3px

ul,ol
  :list-style-type none


#header
  :background url(/images/header_gradient.png)
  :overflow auto
  h1, h2
    :display block
    :float left
    :color #444

  h1
    :font-size 16px
    a
      :color #444
  h2
    :font
      :size 13px
    :padding-top 2px
    :padding-left 20px

#login
  li
    :padding 5px

img
  :border none

#history
  li
    :float none

ul#menu
  :float left
  :margin 0
  :padding-left 100px
  li
    :border-right= 1px solid !ev_blue
    :float left
    :padding 4px
    :margin-right 2px
    a
      :padding 4px
  li.last
    :border-right none
a
  :text-decoration none
  :color= !existing_link_color
  &:hover
    :background= !existing_link_hover_background
    :border-radius 8px
    :-moz-border-radius 8px

  &.new
    :color= !new_link_color
    &:hover
      :background= !new_link_hover_background

#page
  :float left
  :width= !page_width
  :position relative
  :padding 2px
  :margin 0
  h1
    :background= !heading_background
    :border-bottom 2px solid #ccc
    :display block
    :overflow auto
    :padding 3px
    :padding-bottom 5px
    :margin 10px 0 0 0
    :border-radius 10px 10px 0 0
    :-moz-border-radius 10px 10px 0 0
    #heading
      :padding-left 10px
      :float left
      :font
        :size 18px
      :color= !heading_color

    #datestamp
      :float right
      :font
        :size 11px
        :weight normal
      :padding-top 5px
      :margin-right 10px


.error, .notice
  :color #d00
  :background #fee
  :border 1px solid #fcc
  :width= !page_width - 6px
  :padding 2px

.notice
  :color #0a0
  :background #efe
  :border 1px solid #cfc

.homepage
  :font-style italic
  :margin-bottom 0.5em
  :text-align right
  :font-size 12px

ul.dashboard
  :list-style-type none
  :margin 0
  :padding 0
  li
    :line-height 2em
    &.create
      :background-color lightyellow
    &.update
      :background-color #E7FFD8
    &.destroy
      :background-color #f5f5f5
