@import colors
@import lines

body
  :font 13px sans-serif
  :margin 3px

img
  :border none

#menu
  font-size: 14px
  div
    :float left
    :display block
    :width 60px
    :height 60px
    :text-align center
    :padding-top 10px

    &.disabled
      :color #ccc

    &#logo
      :text-align left
      :padding-top 0
      :width 380px
      a
        :display block
        :width 330px
        :height 60px
        :background url(/images/logo.png) no-repeat
        :color #000
        :text-align right
        :font-weight bold
        :line-height 90px

a
  :text-decoration none
  :color= !ev_blue
  &:hover
    :background= !ev_pale_blue

  &.new
    :color= !ev_dark_orange
    &:hover
      :background= !ev_pale_orange

h1
  :border-bottom= !line_width solid !ev_pale_blue
  :margin 10px 0 6px 0
  :height 20px
  #heading
    :float left
    :font-size 20px

  #datestamp
    :float right
    :font
      :size 11px
      :weight normal


.error, .notice
  :color #d00
  :background #fee
  :border 1px solid #fcc
  :width= !page_width - 6px
  :padding 2px

.notice
  :color #0a0
  :background #efe
  :border 1px solid #cfc

#page
  :clear both
  :float left
  :width= !page_width
  :position relative
  :padding 2px
  #content
    :padding-left 2px
    pre
      :background #f6f6f6
      :padding 10px
      :border 1px solid #ddd
    pre,
    code
      :color #006
      :font 9pt "Bitstream Vera Sans Mono"
    p,
    pre
      :margin 5px
    h1,h2,h3,h4,h5
      :margin 15px 0 2px 0

#footer
  :clear both
  :padding-top 10px
  :font-size 11px
  :color #aaa
