@import colors
@import lines
@import css3

#page
  #content
    +set-gradient(#eed, 50)
    float: left
    overflow: auto
    width= !page_width - 10px
    margin: 0
    padding: 5px
    pre, code
      color= !code_color
      font:
        family: 'monospace'
        size: 12px
    pre
      background= !code_background
      padding: 5px
      margin: 3px 0
      border= 1px solid !code_border
      +border-radius(5px)
      overflow: hidden
      code
        padding: 0
      &:hover
        overflow: auto

    h1,h2,h3,h4,h5,h6
      :background none
      :border none
      :padding 0
      :margin 15px 0 0 0

    h1
      :font-size 20px

    h2
      :font-size 16px

    p
      :margin 10px 0 0 0

    hr
      :border 1px solid #ccc
      :text-align center
      :padding 0
      :background none
      :width 80%

    ul
      :list-style-type disc
    ol
      :list-style-type decimal

