@import colors
@import lines

#sidebar
  :float left
  :font-weight bold
  :height 400px
  :margin
    :top 10px
    :left 20px
  :background= !history_background
  :border-radius 10px 10px 0 0
  :-moz-border-radius 10px 10px 0 0
  a
    :margin 2px
    :padding 2px
    :font-weight normal
    :display block
    &:hover
      :background= !history_link_hover_background

  #history
    :min-width 200px
    h2
      :text-align center
      :margin 3px
      :padding 3px
      :font-size 16px
      :border-radius 8px 8px 0 0
      :-moz-border-radius 8px 8px 0 0
      :background= !history_background + 20
    ul
      :list-style-type none
      :margin 0
      :padding 0
      :font
        :size 11px

