%div#content
  %ul.dashboard
    - @versions.each do |version|
      %li{:class => version.event}
        = username(version)
        = created_or_updated(version)
        = link_to version.item.name, page_path(version.item) rescue 'a page'
        = time_ago_in_words(version.created_at)
        ago
